<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="page-inner">
    <div class="page-title">
        <h3>Dashboard</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p >{{usercount}}</p>
                            <span class="info-box-title">Active Users</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p >{{vendorcount}}</p>
                            <span class="info-box-title">Active Vendors</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p>₹<span id="profitThisMonth"></span></p>
                            <span class="info-box-title">Profit in this month</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-basket"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p id="ordercount"></p>
                            <span class="info-box-title">Total Purchases</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-basket"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                {{!-- <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="visitors-chart">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Profit</h4>
                                </div>
                                <div class="panel-body">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="stats-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Top Selling Categories</h4>
                                </div>
                                <div class="panel-body">
                                    <canvas id="myChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Top Selling</h4>

                    </div>
                    <div class="panel-body">
                       
                            <div class="row">
                                <div class="col-6">
                                    <p>Top Selling Company</p>
                                </div>
                                <div class="col-6">
                                    <p id="topsellingCompany"></p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-6">
                                    <p>Top Selling Category</p>
                                </div>
                                <div class="col-6">
                                    <p id="topsellingCategory"></p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-6">
                                    <p>Top Selling Brands</p>
                                </div>
                                <div class="col-6">
                                    <p id="topsellingBrand"></p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-6">
                                    <p>Top Selling Product</p>
                                </div>
                                <div class="col-6">
                                    <p id="topsellingProduct"></p>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Overall</h4>
                        
                    </div>
                    <div class="panel-body">
                       
                               <div class="row">
                                <div class="col-6">
                                    <p>Average Profit Per Month</p>
                                </div>
                                <div class="col-6">
                                    <p id="averageprofitMonth"></p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-6">
                                    <p>Orders This Month</p>
                                </div>
                                <div class="col-6">
                                    <p id="productsinMonth"></p>
                                </div>
                            </div>
                            <hr> <div class="row">
                                <div class="col-6">
                                    <p>Average Purchases per Month</p>
                                </div>
                                <div class="col-6">
                                    <p id="averagepuchasesMonth"></p>
                                </div>
                            </div>
                          
                            
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title">Recent Orders</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive project-stats">
                            <table class="table" style="font-size: 12px;">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Company</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Amount Paid</th>
                                        <th>Profit From This Order</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each recentOrders}}
                                    <tr>
                                      
                                      <td>{{this.productname}}</td>
                                       <td>{{this.vendors}}</td>
                                       <td>{{this.status}}</td>
                                       <td>{{this.date}}</td>
                                       <td>{{this.total}}  Rs</td>
                                       <td>{{this.profit}}  Rs</td>

                                    </tr>
                                    {{/each}}
                                   
                                     
                                       
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2015 &copy; Modern by Steelcoders.</p>
    </div>
</div><!-- Page Inner -->


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  
$(document).ready(function(){
  
$.ajax({
    url:'/admin/getchartdata',
    method:'get',
    success:(response)=>{
      
      document.getElementById('profitThisMonth').innerHTML= response.orderdetails.totalThisMonth
      document.getElementById('ordercount').innerHTML = response.orderdetails.count
       document.getElementById('averageprofitMonth').innerHTML= '₹'+ response.orderdetails.averageProfitPerMonth
      document.getElementById('productsinMonth').innerHTML = response.orderdetails.thisMonthproducts
       document.getElementById('averagepuchasesMonth').innerHTML= response.orderdetails.averagePurchasesPerMonth
      
       
    var january = response.orderdetails.MonthwiseProfits[0]
    var february = response.orderdetails.MonthwiseProfits[1] 
    var march = response.orderdetails.MonthwiseProfits[2]
    var april = response.orderdetails.MonthwiseProfits[3]
    var may = response.orderdetails.MonthwiseProfits[4]
    var june = response.orderdetails.MonthwiseProfits[5]
    var july = response.orderdetails.MonthwiseProfits[6]
    var august = response.orderdetails.MonthwiseProfits[7]
    var september = response.orderdetails.MonthwiseProfits[8]
    var october = response.orderdetails.MonthwiseProfits[9]
    var november = response.orderdetails.MonthwiseProfits[10]
    var december = response.orderdetails.MonthwiseProfits[11]
 var ctx = document.getElementById('myChart').getContext('2d');
    
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
            datasets: [{
                label: '₹ of profit',
                data: [january,february,march,april,may,june,july,august,september,october,november,december],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


var top1catName=response.topselling.topsellingCat[0].category
var top1catCount=response.topselling.topsellingCat[0].count

var top2catName=response.topselling.topsellingCat[1].category
var top2catCount=response.topselling.topsellingCat[1].count

var top3catName=response.topselling.topsellingCat[2].category
var top3catCount=response.topselling.topsellingCat[2].count

document.getElementById('topsellingCompany').innerHTML=response.topselling.maxvendor
document.getElementById('topsellingCategory').innerHTML=response.topselling.topsellingCat[0].category
document.getElementById('topsellingProduct').innerHTML=response.topselling.maxproduct
document.getElementById('topsellingBrand').innerHTML=response.topselling.maxbrand

 var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: [
                top1catName,
                top2catName,
                top3catName,
                
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [top1catCount, top2catCount, top3catCount],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




  
    }
})
    })
</script>