<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85 productspage">
	<div class="container-fluid mt-5">
		<div class="row">
			<div class="col-12 col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">



							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2">Price</th>
								<th class="column-3">Quantity</th>
								<th class="column-4">Total</th>
								<th class="column-5"></th>
							</tr>

							{{#each products}}
							<tr class="table_row">


								<td class="column-1">
									<div class="how-itemcart1">
										<img src="/product-images/{{this.product._id}}1.jpg" alt="IMG">
									</div>
									<div>{{this.product.product}}</div>
								</td>
								{{#if this.product.discountDetails}}
								<td class="column-2">
									<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
									</span> {{this.product.discountDetails.currentprice}} <br>
									<div style="display:flex ; font-size: 12px;">
										<strike><span
												style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">₹
											</span> {{this.product.price}}</strike>
										<p class="text-success ml-1">{{this.product.discountDetails.discount}} % off</p>
									</div>
								</td>
								{{else}}
								<td class="column-2"><span
										style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>
									{{this.product.price}}
								</td>
								{{/if}}

								<td class="column-3">
									<div class="wrap-num-product flex-w m-l-auto m-r-0">
										<button type="button"
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',-1)">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>
										</button>

										<input class="mtext-104 cl3 txt-center num-product cartQuantity"
											id="{{this.product._id}}" type="number" value={{this.quantity}}>

										<button type="button"
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',1)">
											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</button>
									</div>
								</td>
								<td class="column-4"><span
										style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
									</span><span id="{{this.product._id}}1">{{this.subtotal}}</span></td>
								<td class="column-5">
									<button type="button" class="text-danger removeCartProduct deletevendor"
										data-id="{{this.product._id}}" data-toggle="modal" data-target="#exampleModalCenter">Remove</button>
								</td>
							</tr>
							{{/each}}
							
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="btn btn-danger " id="modaldeletevendor">Delete</a>
      </div>
    </div>
  </div>
</div>



						</table>

						{{#if noCartProducts}}
						<div style="text-align: center;" class="mt-5">
							<img src="/images/cartEmpty.jpg" alt="" height="170px" width="260px">
							{{!-- <h6 class="mb-5">Looks like you have not added anything to your cart. <br> Go ahead
								and explore the top categories</h6> --}}
						</div>
						{{/if}}
					</div>


				</div>
			</div>

			{{#if cartHasProducts}}
			<div class="col-12 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Subtotal:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								<span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span><span id="total">{{total}}</span>
							</span>
						</div>
					</div>


					<div class="flex-w flex-t bor12 p-b-13 mt-3">
						<div class="size-208">
							<span class="stext-110 cl2">
								Shipping:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								<span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span> 80
							</span>
						</div>
					</div>





					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Total:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">
								<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span><span id="grandtotal">{{grandtotal}}</span>
							</span>
						</div>
					</div>

					<a href="/checkout"
						class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer text-white">
						Proceed to Checkout
					</a>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</form>


<script>
  $(document).on("click", ".deletevendor", function () {

    var varid = $(this).data('id');


   
    $('.modal-footer #modaldeletevendor').attr('href', "/removeCartProduct?id=" + varid)
  })
</script>