<!-- Product -->
<div class="bg0 m-t-80 productspage">
	<div class="container ">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10 productCategories">
				<a href="/showallproducts?category=Allproducts" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 "
					style="text-decoration: none;">
					All Products
				</a>

				{{#each categories}}

				<a href="/showallproducts?category={{this.category}}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					{{this.category}}
				</a>
				{{/each}}

				
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>


			</div>


			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10 filters">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">


						<form action="/applyFilter" method="post">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>



								<li class="p-b-6">

									<div style="display: flex;">

										<input type="radio" name="sort" id="pricelowtohigh" class="mr-2 mt-1"
											value="lowToHigh">
										<label for="pricelowtohigh">Price: Low to High</label>
									</div>
								</li>

								<li class="p-b-6">

									<div style="display: flex;">

										<input type="radio" name="sort" id="pricehightolow" class="mr-2 mt-1"
											value="highToLow">
										<label for="pricehightolow">Price: High to Low</label>
									</div>
								</li>
							</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>


							<li class="p-b-6">


								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange1" class="mr-3 mt-1"
										value="below5000">
									<label for="pricerange1">Below 5000</label>
								</div>
							</li>

							<li class="p-b-6">
								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange2" class="mr-2 mt-1"
										value="5000-10000">
									<label for="pricerange2">₹5000 - ₹10000</label>
								</div>
							</li>

							<li class="p-b-6">
								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange3" class="mr-2 mt-1"
										value="10000-20000">
									<label for="pricerange3">₹10000 - ₹20000</label>
								</div>
							</li>

							<li class="p-b-6">
								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange4" class="mr-2 mt-1"
										value="20000-30000">
									<label for="pricerange4">₹20000 - ₹30000</label>
								</div>
							</li>

							<li class="p-b-6">
								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange5" class="mr-2 mt-1"
										value="30000-50000">
									<label for="pricerange5">₹30000 - ₹50000</label>
								</div>
							</li>

							<li class="p-b-6">
								<div style="display: flex;">
									<input type="radio" name="pricerange" id="pricerange6" class="mr-3 mt-1"
										value="above50000">
									<label for="pricerange6">Above ₹50000</label>
								</div>
							</li>
						</ul>
					</div>

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Categories
						</div>

						<div class="flex-w p-t-4 m-r--5">
							{{#each categories}}


							<label
								class="btn flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
								style="display: flex;">
								<input type="radio" name="category" id="option1" autocomplete="off" class="mr-2"
									value="{{this.category}}"> {{this.category}}
							</label>

							{{/each}}


						</div>
					</div>


					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brands
						</div>

						<div class="flex-w p-t-4 m-r--5">
							{{#each brands}}
							<div class="btn-group btn-group-toggle" id="brands" data-toggle="buttons"
								onclick="filterRadio()">

								<label
									class="btn flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									<input type="radio" name="brand" autocomplete="off" value="{{this.brand}}">
									{{this.brand}}
								</label>
							</div>
							{{/each}}


						</div>
					</div>
					<button type="submit" class="btn btn-dark mb-3" style="margin-left: auto;">Apply</button>
					</form>
				</div>
			</div>
		</div>

		{{#if nosearchresults}}
		<div style="text-align: center;">
			<img src="/images/Nosearch.jpg" alt="" height="200px" width="200px">
			<h3 class="mb-5">No search results found</h3>
		</div>
		{{/if}}

		{{#if noProducts}}
		<div style="text-align: center;">
			<img src="/images/noProducts.png" alt="" height="300px" width="500px">

		</div>
		{{/if}}

		{{#if loggined}}
		<div class="row isotope-grid">
			{{#each categoryfilter}}
			<div class="col-sm-6 col-md-6 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<a href="/productdetails?id={{this._id}}">
							<img src="/product-images/{{this._id}}1.jpg" alt="IMG-PRODUCT">
						</a>
						<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 "
							onclick="addToCart('{{this._id}}',1)" data-toggle="modal" data-target="#exampleModalCenter">
							Add to Cart
						</button>

						<!-- Modal -->
						<div class="modal fade mt-5 pt-3" id="exampleModalCenter" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog mt-5" role="document" style="float: right;">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle">Item added to
											cart</h5>
									</div>

								</div>
							</div>
						</div>



					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/productdetails?id={{this._id}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.product}}
							</a>

							{{#if this.discountDetails}}
							<span class="stext-105 cl3">
								<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span>{{this.discountDetails.currentprice}}
							</span>
							<span class="stext-105 cl3">
								<div style="display: flex;">
									<strike><span
											style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
										</span>{{this.price}}</strike>
									<p class="ml-4 text-success"> {{this.discountDetails.discount}}% Off</p>
								</div>
							</span>
							{{else}}
							<span class="stext-105 cl3">
								<span style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span>{{this.price}}
							</span>
							{{/if}}


						</div>

						<div class="block2-txt-child2 flex-r p-t-3">

							{{#if this.wishlist}}

							<button class="btn-addwish-b2 dis-block pos-relative"
								onclick="removefromWishlist('{{this._id}}')">

								<img class="icon-heart1 dis-block trans-04" id="wishlisticon1{{this._id}}"
									src="/images/icons/icon-heart-02.png" alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" id="wishlisticon2{{this._id}}"
									src="/images/icons/icon-heart-01.png" alt="ICON">
							</button>

							{{else}}
							<button class="btn-addwish-b2 dis-block pos-relative"
								onclick="addtoWishlist('{{this._id}}')">
								<img class="icon-heart1 dis-block trans-04" id="wishlisticon1{{this._id}}"
									src="/images/icons/icon-heart-01.png" alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" id="wishlisticon2{{this._id}}"
									src="/images/icons/icon-heart-02.png" alt="ICON">
							</button>
							{{/if}}

						</div>
					</div>
				</div>


			</div>
			{{/each}}
		</div>



		{{else}}
		<div class="row isotope-grid">
			{{#each categoryfilter}}
			<div class="col-sm-6 col-md-6 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<a href="/productdetails?id={{this._id}}">
							<img src="/product-images/{{this._id}}1.jpg" alt="IMG-PRODUCT">
						</a>

						<a href="/login"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
							Add to Cart
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/productdetails?id={{this._id}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.product}}
							</a>

							{{#if this.discountDetails}}
							<span class="stext-105 cl3">
								<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span>{{this.discountDetails.currentprice}}
							</span>
							<span class="stext-105 cl3">
								<div style="display: flex;">
									<strike><span
											style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
										</span>{{this.price}}</strike>
									<p class="ml-4 text-success"> {{this.discountDetails.discount}}% Off</p>
								</div>
							</span>
							{{else}}
							<span class="stext-105 cl3">
								<span style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹
								</span>{{this.price}}
							</span>
							{{/if}}
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a href="/login" class="btn-addwish-b2 dis-block pos-relative ">
								<img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-01.png"
									alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-02.png"
									alt="ICON">
							</a>
						</div>
					</div>
				</div>



			</div>
			{{/each}}
		</div>
		{{/if}}






	</div>
</div>