

<!-- Product -->
<div class="bg0 m-t-80 productspage">
	<div class="container ">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10 productCategories">
				<a href="/showallproducts?category=Allproducts"
					class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " style="text-decoration: none;">
					All Products
				</a>

				<a href="/showallproducts?category=Mobiles" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					Mobiles
				</a>

				<a href="/showallproducts?category=Laptops" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					Laptops
				</a>

				<a href="/showallproducts?category=Cameras" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					Cameras
				</a>
				<a href="/showallproducts?category=Television" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					Television
				</a>
				<a href="/showallproducts?category=Accessories" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					style="text-decoration: none;">
					Accesssories
				</a>
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
						placeholder="Search">
					<button type="submit" class="btn btn-dark zmdi zmdi-search" style="width: 40px;"></button>
				</div>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10 filters">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							


							<li class="p-b-6">
								<a href="/filter?type=sort&value=lowToHigh" class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=sort&value=highToLow" class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="/showallproducts?category=Allproducts" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=price&first=0&last=5000" class="filter-link stext-106 trans-04">
									Below ₹5000
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=price&first=5000&last=10000" class="filter-link stext-106 trans-04">
									₹5000 - ₹10000
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=price&first=10000&last=20000" class="filter-link stext-106 trans-04">
									₹10000 - ₹20000
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=price&first=20000&last=30000" class="filter-link stext-106 trans-04">
									₹20000 - ₹30000
								</a>
							</li>

							<li class="p-b-6">
								<a href="/filter?type=price&first=30000&last=50000" class="filter-link stext-106 trans-04">
									₹30000 - ₹50000
								</a>
							</li>
							
							<li class="p-b-6">
								<a href="/filter?type=price&first=50000&last=above50000" class="filter-link stext-106 trans-04">
									Above ₹50000
								</a>
							</li>
						</ul>
					</div>

					

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brands
						</div>

						<div class="flex-w p-t-4 m-r--5">
							<a href="/filter?type=brand&value=Apple"
								class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Apple
							</a>

							<a href="/filter?type=brand&value=Samsung"
								class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Samsung
							</a>

							<a href="/filter?type=brand&value=Oneplus"
								class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Oneplus
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{#if nosearchresults}}
		<div style="text-align: center;">
			<img src="/images/Nosearch.jpg" alt="" height="200px" width="200px">
			<h3 class="mb-5">No search results found</h3>
		</div>
		{{/if}}

		{{#if noProducts}}
		<div style="text-align: center;">
			<img src="/images/noProducts.png" alt="" height="300px" width="500px">

		</div>
		{{/if}}

		{{#if loggined}}
		<div class="row isotope-grid">
			{{#each products}}
			<div class="col-sm-6 col-md-6 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="/product-images/{{this._id}}1.jpg" alt="IMG-PRODUCT">

						<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 "
							onclick="addToCart('{{this._id}}',1)">
							Add to Cart
						</button>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/productdetails?id={{{this._id}}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.product}}
							</a>

							{{#if this.discountDetails}}
							<span class="stext-105 cl3">
								<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.discountDetails.currentprice}}
							</span>
							<span class="stext-105 cl3">
								<div style="display: flex;">
								<strike><span style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.price}}</strike><p class="ml-4 text-success"> {{this.discountDetails.discount}}% Off</p>
								</div>
							</span>
							{{else}}
							<span class="stext-105 cl3">
								<span style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.price}}
							</span>
							{{/if}}

							
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">

							<button class="btn-addwish-b2 dis-block pos-relative"
								onclick="addtoWishlist('{{this._id}}')">
								<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
									alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png"
									alt="ICON">
							</button>

						</div>
					</div>
				</div>


			</div>
			{{/each}}
		</div>



		{{else}}
		<div class="row isotope-grid">
			{{#each products}}
			<div class="col-sm-6 col-md-6 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="/product-images/{{this._id}}1.jpg" alt="IMG-PRODUCT">

						<a href="/login"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
							Add to Cart
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/productdetails?id={{{this._id}}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.product}}
							</a>

							{{#if this.discountDetails}}
							<span class="stext-105 cl3">
								<span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.discountDetails.currentprice}}
							</span>
							<span class="stext-105 cl3">
								<div style="display: flex;">
								<strike><span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.price}}</strike><p class="ml-4 text-success"> {{this.discountDetails.discount}}% Off</p>
								</div>
							</span>
							{{else}}
							<span class="stext-105 cl3">
								<span style="font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{this.price}}
							</span>
							{{/if}}
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a href="/login" class="btn-addwish-b2 dis-block pos-relative ">
								<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
									alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png"
									alt="ICON">
							</a>
						</div>
					</div>
				</div>



			</div>
			{{/each}}
		</div>
		{{/if}}




		<div class="row">
			{{#each searchedProducts}}
			<div class="col-sm-6 col-md-6 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->

				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="/product-images/{{this._id}}1.jpg" alt="IMG-PRODUCT">
						{{#if loggined}}

						<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 "
							onclick="addToCart('{{product._id}}',1)">
							Add to Cart
						</button>
						{{else}}
						<a href="/login"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
							Add to Cart
						</a>

						{{/if}}
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/productdetails?id={{{this._id}}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.product}}
							</a>

							<span class="stext-105 cl3">
								<span style="font-family: Anton;">₹ </span>{{this.price}}
							</span>
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
								<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
									alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png"
									alt="ICON">
							</a>
						</div>
					</div>
				</div>

			</div>
			{{/each}}
		</div>

	</div>
</div>