<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-12 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							<div class="item-slick3 easyzoom easyzoom--overlay"
								data-thumb="/product-images/{{product._id}}1.jpg">
								<div class="wrap-pic-w pos-relative">
									<img src="/product-images/{{product._id}}1.jpg" alt="IMG-PRODUCT"
										class="imageZoom1">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										href="/product-images/{{product._id}}1.jpg">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/product-images/{{product._id}}2.jpg">
								<div class="wrap-pic-w pos-relative">
									<img src="/product-images/{{product._id}}2.jpg" alt="IMG-PRODUCT"
										class="imageZoom2">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										href="/product-images/{{product._id}}2.jpg">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/product-images/{{product._id}}3.jpg">
								<div class="wrap-pic-w pos-relative">
									<img src="/product-images/{{product._id}}3.jpg" alt="IMG-PRODUCT"
										class="imageZoom3">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										href="/product-images/{{product._id}}3.jpg">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
							<div class="item-slick3" data-thumb="/product-images/{{product._id}}4.jpg">
								<div class="wrap-pic-w pos-relative">
									<img src="/product-images/{{product._id}}4.jpg" alt="IMG-PRODUCT"
										class="imageZoom4">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										href="/product-images/{{product._id}}4.jpg">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						{{product.product}}
					</h4>

					

					{{#if product.discountDetails}}
					<span class="mtext-106 cl2">
						<span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{product.discountDetails.currentprice}}
					</span>
							<span class="mtext-106 cl2">
						<div style="display: flex;font-size: 15px;" class="mt-3">
								<strike><span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{product.price}}</strike><p class="ml-4 text-success"> {{product.discountDetails.discount}}% Off</p>
								</div>
					</span>
							
							{{else}}
							<span class="mtext-106 cl2">
						<span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ </span>{{product.price}}
					</span>
							{{/if}}

					<div class="flex-w flex-m  p-t-40 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
							{{#if loggined}}
							<button class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2  tooltip100"
								data-tooltip="Add to Wishlist" onclick="addtoWishlist('{{product._id}}')">
								<i class="zmdi zmdi-favorite"></i>
							</button>

					

							{{else}}
							<a href="/login" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2  tooltip100"
								data-tooltip="Add to Wishlist">
								<i class="zmdi zmdi-favorite"></i>
							</a>
							{{/if}}
						</div>
					</div>

					<p class="stext-102 cl3 p-t-23">
						{{product.description}}
					</p>

					<!--  -->
					<div class="p-t-33">



						<div class="flex-w flex-r-m p-b-10 mt-5">
							<div class="size-204 flex-w flex-m respon6-next">
								<div class="wrap-num-product flex-w m-r-20 m-tb-10">
									<button type="button" onclick="changeproductquantity(-1)" style="border: none;">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>
									</button>

									<input class="mtext-104 cl3 txt-center num-product" type="number"
										id="productquantity" name="num-product" value="1">

									<button type="button" onclick="changeproductquantity(1)" style="border: none;">
										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</button>
								</div>
								{{#if loggined}}
								<div style="display: flex;">

									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail text-white mt-4"
										id="addtoCart" onclick="addToCart('{{product._id}}',2)" data-toggle="modal"
										data-target="#exampleModalCenter">Add to cart</button>


									<!-- Modal -->
									<div class="modal fade mt-5 pt-3" id="exampleModalCenter" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog mt-5" role="document" style="float: right;">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalCenterTitle">Item added to
														cart</h5>
												</div>

											</div>
										</div>
									</div>

									<a class="ml-3 flex-c-m stext-101 btn-dark cl0 size-101 btn-dark bor1 hov-btn1 p-lr-15 text-white mt-4"
										href="/buynow?id={{product._id}}">
										Buy now
									</a>
								</div>
								{{else}}
								<div>
									<a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 text-white mt-4"
										href="/login">
										Add to cart
									</a>

								</div>
								{{/if}}
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="bor10 m-t-50 p-t-43 p-b-40" style="font-size: 17px">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Specifications</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews ({{reviewCount}})</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade show active" id="description" role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<p class="stext-102 cl6">
							<pre style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{product.specs}}</pre>
							</p>
						</div>
					</div>

					
					
					

					<!-- - -->
					<div class="tab-pane fade" id="reviews" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<div class="p-b-30 m-lr-15-sm">
									<!-- Review -->
									{{#each userReviews}}
									<div class="flex-w flex-t p-b-68">
										<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
											<img src='/User-Profile-Pics/{{this.userid}}.jpg' alt="">
										</div>

										<div class="size-207">
											<div class="flex-w flex-sb-m p-b-17">
												<span class="mtext-107 cl2 p-r-20">
													{{this.user}}
												</span>

												{{!-- <span class="fs-18 cl11">
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star-half"></i>
												</span> --}}
											</div>

											<p class="stext-102 cl6">
												{{this.review}}
											</p>
										</div>
									</div>
									{{/each}}

									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</section>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>

<script>
	$(function () {
		$('.imageZoom1').imageZoom();
	});
</script>

<script>
	$(function () {
		$('.imageZoom2').imageZoom();
	});
</script>


<script>
	$(function () {
		$('.imageZoom3').imageZoom();
	});
</script>
<script>
	$(function () {
		$('.imageZoom4').imageZoom();
	});
</script>

<script>
	function changeproductquantity(count) {
		count = parseInt(count)
		let quantity = parseInt(document.getElementById('productquantity').value)
		if (quantity > 1) {
			document.getElementById('productquantity').value = quantity + count
		} else if (quantity == 1 && count == 1) {
			document.getElementById('productquantity').value = quantity + count
		}

	}

</script>