<form class="bg0 p-t-75 p-b-85">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="text-center ">
                        <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span
                                class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order
                                Confirmed</span>
                            <div class="mt-4 mb-4"> <small class="mt-2">Thank you for your order,</small> 
                            <a href="/home" class="text-decoration-none invoice-link">Continue shopping</a> </div> 
                            <a href="/myorders" class="btn btn-danger btn-block order-button pt-2">Go to your Order</a>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50" style="align-items: center;">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="checkoutbox pb-4" >
                         <div class="delivery-add pt-3 pl-3">
                            <h5>Order Summary</h5>
                        </div>
                        {{#each order}}
                        <div style="display: flex;" class="mt-4">
                       <div class="ml-3" style="width: 170px;">
                            <label style="font-weight: 700;" >Order Id</label><br>
                       </div>
                       <div class="mr-4">
                                <label for="" >{{this._id}}</label><br>
                      </div>
                       </div>
                        <div style="display: flex;" class="mt-4">
                       <div class="ml-3" style="width: 170px;">
                            <label style="font-weight: 700;">Products</label><br>
                       </div>
                       <div class="mr-4">
                           {{#each product}}
                                <label for="">{{this.product}}</label><br>
                                {{/each}}
                      </div>
                       </div>
                       <div style="display: flex;" class="mt-4">
                       <div class="ml-3" style="width: 170px;">
                             <label style="font-weight: 700;" >Delivery Address:</label><br>
                       </div>
                       <div class="mr-4">
                                <label for="">{{this.deliveryaddress}}</label><br>
                      </div>
                       </div>
                      
                       <div style="display: flex;" class="mt-4">
                       <div class="ml-3" style="width: 170px;">
                            <label style="font-weight: 700;">Status</label><br>
                       </div>
                       <div class="mr-4">
                                <label for="">{{this.status}}</label><br>
                      </div>
                       </div>

                       <div style="display: flex;" class="mt-4">
                       <div class="ml-3" style="width: 170px;">
                            <label style="font-weight: 700;">Payment Method</label><br>
                       </div>
                       <div class="mr-4">
                                <label for="">{{this.paymentmethod}}</label><br>
                      </div>
                       </div>

                       <div style="display: flex;" class="mt-4">
                       <div class="ml-3 " style="width: 170px;">
                            <label style="font-weight: 700;">Amount Paid</label><br>
                       </div>
                       <div class=" mr-4">
                                <label for=""><span style="font-family: Source Serif 4;">₹ </span>{{this.total}}</label><br>
                      </div>
                       </div>
                      {{/each}}
            </div>
        </div>
    </div>
</form>