
	<!-- Product -->
	<div class="bg0 m-t-80 productspage">
		<div class="container ">

			<h2 class="mt-2 mb-4" style="font-family: Alfa Slab One; font-weight: 400;">Wishlist</h2>


	
				{{#if noWishlist}}
				<div style="text-align: center;">
				<img src="/images/empty-wishlist.png" alt="" class="mt-5 pt-5  mb-5">
				<h5 class="mb-5 pb-5">No items in wishlist , <a href="/showallproducts?category=Allproducts">Explore</a></h5>
				</div>
				{{/if}}

			<div class="row isotope-grid">
			{{#each products}}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="/product-images/{{this.product._id}}1.jpg" alt="IMG-PRODUCT">

							<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 "  onclick="addToCart('{{this.product._id}}',1)">
								Add to Cart
							</button>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/productdetails?id={{{this.product._id}}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{this.product.product}}
								
								</a>

								<span class="stext-105 cl3">
									<span style="font-family: Source Serif 4;">₹ </span>
									{{this.product.price}}
									
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="/removefromWishlist?id={{this.product._id}}" class="btn-addwish-b2 dis-block pos-relative ">
									<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-02.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-01.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
			

				</div>	
				{{/each}}
				</div>



			       
						
				


				
				
				</div>
				</div>
